__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg
.uv/
TTS/voices_out/*
!TTS/voices_out/.gitkeep
TTS/samples/*
!TTS/samples/.gitkeep
TTS/texts_in/*
!TTS/texts_in/.gitkeep
STT/audio_in/*
!STT/audio_in/.gitkeep
STT/texts_out/*
!STT/texts_out/.gitkeep
.ruff_cache/
.claude/skills/
voicecli.toml

.env
